@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
  background-color: #f5f5dc;
  width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 4vh;
  font-size: 62.5%;
}

h1 {
  font-size: 6.5em;
  font-weight: bold;
  font-family: 'Inika', serif;
  padding: 1.2vh 0;
  border-bottom: 0.3vh solid rgba(197, 197, 231, 0.61);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 3.5em;
  font-family: 'Inika', serif;
  font-weight: bold;
  cursor: pointer;
  color: rgb(84, 84, 233);
  transition: 0.2s;
}

ul:hover {
  color: #000;
}

/* //////////////////////////////////////////////////// */

.list-item {
  /* height: 4vh; */
  height: 3rem;
  padding: 1vh 0 2vh 0;
  margin: 0;
  border-bottom: 0.3vh solid rgba(197, 197, 231, 0.61);
  overflow: hidden;
  transition: 0.3s;
}

.list-item p {
  margin: 0;
}

.list-item:hover {
  height: 45vh;
}

.list-item:focus {
  height: 45vh;
  color: #000;
  outline: none;
}

.list-item:active {
  color: rgb(84, 84, 233);
  opacity: 0.5;
}

/* ////////////////////////////////////////////////////// */

.list-item__content {
  margin: 0 0vh 1vh 0vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* //////////////////////////////////////////////////// */

.cross {
  width: 3vw;
  height: 3vh;
  background-image: url(./assets/icons/icons8-крестик-xbox-30.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.3s;
}

ul:hover .cross {
  opacity: 1;
}

.list-item:hover .cross {
  background-image: url(./assets/icons/icons8-умножение-30.png);
}

ul:hover .list-item:focus .cross {
  background-image: url(./assets/icons/icons8-умножение-30.png);
}
